
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 960px;
}


main{
    margin: 3rem auto 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 582px;
    max-height: 928px;  
    background-color: hsl(0, 0%, 12%);
    box-shadow: 0 0 10px hsl(0, 0%, 30%);
}

.image{
    width: 133px;
    height: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}


.profile-info{
    max-width: 461px;
    max-height: 93.07px;
    margin: 10px 0 ;
    line-height: 2rem;
    text-align: center;
}

.profile-info p{
    font-size: 14px;
    font-weight: 500;
    color:  hsl(75, 94%, 57%);
}

.bio{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    opacity: 0.7;
}

.social-links nav{
    line-height: 3rem;
    max-width: 461px;
    max-height: 461px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


ul li a{
    display: block;   
    width: 100%;
    box-sizing: border-box;
}

ul li a, 
ul li a:visited{
    text-decoration: none;
    color: #fff;;
    font-size: 14px;
    font-weight: 500;
    background-color: hsl(0, 0%, 20%);
    margin: 1rem 0;
    padding: 0.1rem 4rem;
    text-align: center;
}

ul li a:hover{
    background-color: hsl(75, 94%, 57%);
}


footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }


@media screen and (min-width:768px){
    body{
        width: 100%;
        height: 100%;
        max-width: 768px;
        max-height: 1024px;
    }

    main {
        width: 100%;
        max-width: 384px;
        max-height: 611px;
        padding: 40px 40px;
        margin: 8px auto;
    }

    
}


@media screen and (min-width:375px){
body{
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 812px;
    padding: 0 24px;
    margin: 0 24px;
}

main{
    width: 100%;
    max-width: 327px;
    max-height: 579px;
    padding: 24px 24px;
    margin: 24px auto;
}
}